.Rproj.user
data/weight/LBDA.data.nc
data/weight/PRISM/NLDAS_FORA0125_H.A20170101.nc
data/weight/ESRL.data.nc
data/weight/PRISM/raw
data/weight/MANN.data.nc
data/paleon_sites/
ensembles/
.Rdata
.Rhistory
scripts/.Rdata
scripts/.Rhistory
.DS_Store
